fastapi
uvicorn
pydantic
python-dotenv
requests
beautifulsoup4
google-generativeai
markdown
xhtml2pdf
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
jinja2
websockets
email-validator
sqlalchemy
playwright
